{% extends 'back_office/base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <div class='admin-user'>
        <h1>Liste des utilisateurs : </h1>

        <div class='table-responsive'>
            <table class="table admin-table">
                <thead class='thead-dark'>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th scope="row">{{ user.email }}</th>
                        <td>
                            <a class='admin-update' href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                            {{ include('back_office/user/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Pas d'utilisateur trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='admin-user-footer'>
            <a class='admin-create' href="{{ path('user_new') }}">Nouvel utilisateur</a>
        </div>
    </div>
{% endblock %}
