{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}

    <div class='container-fluid'>
        <div class='row'>
            <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>

                <div class='admin-form'>
                    <h3 class='hMessage'>Ajouter un utilisateur :</h3>

                    {{ include('back_office/user/_form.html.twig') }}

                </div><br>
            </div>
            <div class='btnPArtner'>
                <a class='retour' href="{{ path('admin_users') }}">Retour</a>
            </div>
        </div>
    </div>

{% endblock %}
