{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <div class='admin-form'>
        <h1>Ajouter un utilisateur : </h1>

        {{ include('back_office/user/_form.html.twig') }}

        <a href="{{ path('admin_users') }}">&lt;Revenir à la liste</a>
    <div>
{% endblock %}
