{% extends 'back_office/base.html.twig' %}

{% block title %}Ajout d'un partenaire{% endblock %}  

{% block body %}

    <h3>Ajout d'un partenaire :</h3>

    {{ form_start(form) }}

    {{ form_end(form) }}

{% endblock body %}
