<form method="post" action="{{ path('partner_delete', {'id': partner.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce partenaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ partner.id) }}">
    <button class="">Supprimer</button>
</form>