/* FOOTER */

.footer {
    background-color: #b6a786;
    justify-content: space-between;
    content:"";
    display:block;
    clear:both
}

.footer a,
.footer p,
.footer h4,
.footer h6 {
    color: #fff;
    text-decoration: none;
}

#imgLogoFooter
{
    background-color: white;
    padding: 1vh 1vw;
    margin: 0;
}

.logo2
{
    height: 10vh;
    width: 12vw;
}

.hCSE {
    font-family: Inter;
    font-weight: 700;
    margin-bottom: 0.5vh;
    padding: 0.5vh 0;
    line-height: 24px;
}

.footer a {
    font-weight: 400;
}

.footer p {
    line-height: 17px;
    font-size: 14px;
}

.footer a:hover {
    text-decoration: underline;
}

#footer-right {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer h6 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    line-height: 20px;
}

/* NEWSLETTER INSCRIPTION */

div#newsletter-form {
    width: 23%;
}

.newsletter-bottom {
    margin-top: 10px;
}

input#newsletter_email {
    border-radius: 7px;
    border: 1px grey solid;
    padding: 4px 3px;
    width: 45%;
}

input#newsletter_email::placeholder {
    text-align: center;
}

button#newsletter_save {
    background-color: white;
    border: 1px grey solid;
    border-radius: 7px;
    padding: 4px 13px;
    margin-left: 5px;
}

.alert-success {
    color: rgb(0, 174, 0);
    font-weight: 500;
    margin-top: 7px;
    background: none;
}

.alert-fail {
    color: rgb(255, 0, 0);
    margin-top: 7px;
}

@media screen and (min-width: 991.5px) {
    .footer {
        display: flex;
        padding: 2vh 0 2vh 10vw;
    }

    #footer-left {
        display: flex;
    }

    .footer a {
        line-height: 21px;
        font-size: 18px;
    }

    .page-links {
        margin-left: 3vw;
        width: 40vw;
    }

    .aLink {
        width: 20vw;
        margin: 4px 0;
    }

    .link {
        display: flex;
    }

    #footer-form {
        margin-top: 2vh;
    }
    #newsletter-text
    {
        width: 70%;
    }
}

@media screen and (min-width: 991.5px) and (max-width: 1200px) {
    .offreFooter {
        padding-right: 12%;
    }
}

@media screen and (max-width: 991.5px) {
    .footer {
        text-align: center;
        padding: 2% 0 3%;
    }

    #imgLogoFooter {
        display: none;
    }

    .hCSE {
        font-size: 22px;
        margin-bottom: 12px;
        line-height: 22px;
    }

    .link {
        justify-content: center;
    }

    .aLink {
        font-size: 18px;
    }

    .offreFooter {
        margin-top: 1.5%;
    }

    #newsletter-text > * {
        margin: 0;
    }

    #footer-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input#newsletter_email {
        padding: 6px 3px;
        width: 60%;
    }
    
    button#newsletter_save {
        padding: 6px 13px;
    }
}