@import url('https://fonts.googleapis.com/css?family=Inter&display=swap%27');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap%27');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;

    /* Pour debug */
    /* outline: 1px red solid; */
}

.menuPublic{
    float:left;
    width: 15%;
    margin-left: 10%;
    margin-right: 1%;
    margin-top: 1%;
}

@media screen and (max-width: 991.5px) {
    .menuPublic {
        display: none;
    }
}

/* SURVEY */

.survey-container {
    width: 20%;
    text-align: center;
}

.survey-header {
    background-color: #1c3168;
    padding: 10px 3px;
    color: white;
}

.survey-body {
    background-color: lightgrey;
    height: 20%;
    max-height: 300px;
    padding-bottom: 20px;
}

.survey-container h6,
h4 {
    color: black;
    padding: 20px 0;
}

a#view-stats {
    font-size: 63%;
}

.survey-footer {
    background-color: #1c3168;
    height: 52px;
    display: flex;
    justify-content: center;
}

.survey-footer a,
#survey_form_save {
    background-color: white;
    border: 1px solid;
    display: flex;
    width: 114px;
    font-size: 12px;
    text-align: center;
    height: 36px;
    justify-content: center;
    padding-top: 8px;
    margin-inline: 5px;
    margin-top: 9px;
}

.survey-form-choices input,
.survey-form-choices label {
    right: 34px;
    margin-left: 2%;
    display: block;
    position: relative;
}

.answer-display h5 {
    font-size: 80%;
}

.answer-display .progress {
    height: 8px;
}

.survey-form-choices label {
    right: 25px;
}

.answer-container.answer-display {
    size: 10%;
    padding: 0 49px;
}

.answer-container.answer-display h4 {
    font-size: 10%;
}

.answer-container.answer-display {
    size: 10%;
    padding: 0 49px;
}

.answer-container.answer-display h4 {
    font-size: 10%;
}

.survey-container h3 {
    padding: 67px 0px;
}

@media screen and (max-width: 996px) {
    .survey-container {
        display: none;
    }
}

/*ICON*/

#icon {
    background-color: #b6a786;
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

#icon svg {
    color: #FFF;
    height: 28px;
    transition: all .3s ease;
}

#icon:hover {
    background: #FFF;
}

#icon:hover svg {
    color: #b6a786;
}

#checkbox,
#icon {
    display: none;
}

/* NEWSLETTER INSCRIPTION */

div#newsletter-form {
    width: 23%;
}

.newsletter-bottom {
    margin-top: 10px;
}

input#newsletter_email {
    border-radius: 7px;
    border: 1px grey solid;
    padding: 4px 3px;
    width: 53%;
}

input#newsletter_email::placeholder {
    text-align: center;
}

button#newsletter_save {
    background-color: white;
    border: 1px grey solid;
    border-radius: 7px;
    padding: 4px 13px;
    margin-left: 5px;
    color: black;
}

.alert-success {
    color: rgb(0, 218, 0);
    margin-top: 7px;
    background: none;
}

.alert-fail {
    color: rgb(255, 0, 0);
    margin-top: 7px;
}

/*ICON*/

#icon {
    background-color: #b6a786;
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

#icon svg {
    color: #FFF;
    height: 28px;
    transition: all .3s ease;
}

#icon:hover {
    background: #FFF;
}

#icon:hover svg {
    color: #b6a786;
}

#checkbox,
#icon {
    display: none;
}

/* HOMEPAGE */

.cse {
    background-color: #d9d9d9;
    padding: 5px;
    padding-bottom: 1%;
    margin-right: 10%;
    margin-bottom: 3%;
    margin-top: 7%;
}

.cse h4 {
    color: #1c3168;
    padding: 10px;
    font-weight: bold;
}

.cse p {
    margin-bottom: 0;
    padding: 0 0 0 10px;
}

.cse a {
    color: #515d77;
}

.cse a:hover {
    color: #b6a786;
}

@media screen and (max-width: 768.5px) {

    .cse h4 .cse p {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .cse {
        width: 100%;
    }
}

.hOffre{
    padding-bottom: 15px;
}

.offer-container {
    background-color: #EFEDED;
    margin-right: 10%;
    padding: 20px 10px 40px 10px;
    margin-bottom: 2%;
    height: 30%;
}

@media screen and (max-width: 991.5px) {

    .offer-container {
        margin-right: 0%;
    }

    .cse {
        margin-right: 0%;
    }
}

.offer-icon {
    font-size: 63%;
    background-color: #1c3168;
    color: white;
    border-radius: 10px;
    width: 150px;
    padding: 7px;
    text-transform: uppercase;
    text-align: center;
}

.offer-top {
    display: flex;
    flex-wrap: wrap;
}

h6.offer-time {
    margin-top: 7px;
    margin-left: 5px;
}

.offer-description {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    padding-top: 20px;
}

.offer-about {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    float: right;
    bottom: 18px;
    position: relative;
    margin-top: 30px;
    margin-bottom: 5%;
    vertical-align: bottom;
}

.offer-about:hover {
    text-decoration: underline;
    background-color: inherit;
    padding: 0;
    color: #b6a786;
}

@media screen and (max-width: 768.5px) {
    h3 {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .offer {
        justify-content: center;
    }

    h6.offer-time {
        font-size: 70%;
    }

    .offer-container {
        width: 100%;
        height: 100%;
    }

    #pagination {
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .pagination-link {
        display: none;
    }

    .pagination-link.current {
        display: flex;
    }

    .page-number {
        display: flex;
    }

    #navbar ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 71px);
        background-color: #18283B;
        left: 0;
        top: 0;
        text-align: center;
        display: none;
        margin-top: 71px;
    }

    #navbar ul li {
        display: block;
        padding: 10px 15px;
    }

    #navbar ul li a {
        display: block;
        padding: 10px 0;
    }

    #icon {
        display: block;
    }

    #checkbox:checked~ul {
        display: block;
    }
}

/* PAGINATION */

#pagination {
    display: inline-flex;
    list-style-type: none;
}

#pagination {
    padding-left: 0%;
}

#pagination li {
    border: #ebedf1 1px solid;
    margin-inline: 4px;
    border-radius: 3px;
    padding: 2px;
    font-weight: bold;
    color: black;
}

#pagination a {
    text-decoration: none;
    padding: 0px 9px;
}

.page-number{
    color: #e2e6ea!important;
}

#pagination a:visited {
    color: black;
}

li.pagination-link.disable {
    background: #c8cfd5;
    color: white!important;
}

li.pagination-link.current {
    border-color: #885fff !important;
    color: #885fff;
}

/*RESPONSIVE*/

@media screen and (max-width: 1126px) {
    #navbar {
        border-bottom: 1px solid #455468;
    }
}

@media screen and (max-width: 767.5px) {
    /* ADMIN */

    .table-div {
        display: flex;
        justify-content: center;
        padding-top: 60px;
    }

    .contact-msg {
        text-overflow: ellipsis;
    }

    #msg-table tr {
        width: 30px;
    }

    #msg-table {
        width: 80%;
    }
}

/*ADMIN*/

.connection {
    display: flex;
	justify-content: center;
    border-radius: 8%;
    padding-top: 50px;
    width: 30%;
    background-color: #EFEDED;
    margin: 3% 0%;
    margin-left: auto;
    margin-right: auto;
}

.connection h3 {
    text-align: center;
}

.btnCo {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.btnCo button {
    font-size: 14px;
    border: none;
    border-radius: 6px;
    background-color: #1c3168;
    color: white;
    height: 40px;
}

.btnCo button:hover {
    background-color: #b6a786;
    color: white;
}

@media screen and (max-width: 991.5px) {
    .connection {
        width: 80%;
        text-align: center;
    }
}

/* ADMIN */

.back-survey-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.admin-title {
    text-align: center;
    margin: 47px 0;
}

.survey-stats {
    border: 1px black solid;
    width: 30%;
    margin: 3px;
    position: relative;
    min-height: 300px;
}

.survey-stats h4 {
    font-size: 16px;
    margin: 16px;
    text-align: center;
}

.answer-container {
    padding: 0 15px;
    margin-bottom: 26px;
}

.survey-actions {
    display: none;
    margin: 29px;
    position: absolute;
    width: 100%;
    background: rgba(128, 128, 128, 0.9);
    height: 100%;
    bottom: -29px;
    right: -29px;
}

.survey-actions a {
    text-decoration: none;
    color: white;
    padding: 2px 10px;
    border-radius: 47px;
    width: 80%;
    /* margin-left: 24px; */
    display: inline-block;
    text-align: center;
    margin-top: 38%;
}

a.survey-update {
    background-color: #1c3168;
}

a.survey-activate {
    background-color: rgb(0, 210, 0);
}

a.survey-desactivate {
    background-color: rgb(255, 0, 0);
}

@media screen and (max-width: 768px) {
    .back-survey-container {
        display: grid !important;
        grid-column: 2 !important;
    }

    .survey-stats {
        width: 90% !important;
        margin: 14px 5% !important;

    }
}

/* ADMIN */

.back-survey-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.admin-title {
    text-align: center;
    margin: 47px 0;
}

.survey-stats {
    border: 1px black solid;
    width: 30%;
    margin: 3px;
    position: relative;
}

.survey-stats h4 {
    font-size: 16px;
    margin: 16px;
    text-align: center;
}

.answer-container {
    padding: 0 15px;
    margin-bottom: 26px;
}

.survey-actions {
    margin: 29px;
}

.survey-actions {
    display: none;
}

.survey-actions {
    position: absolute;
    width: 100%;
    background: rgba(128, 128, 128, 0.9);
    height: 100%;
    bottom: -29px;
    right: -29px;
    justify-items: center;
}

.survey-actions a {
    text-decoration: none;
    color: white;
    padding: 2px 10px;
    border-radius: 47px;
    width: 80%;
    text-align: center;
    margin-top: 20%;
    height: 30px;
}

a.survey-update {
    background-color: #1c3168;
}

a.survey-activate {
    background-color: rgb(0, 210, 0);
}

a.survey-desactivate {
    background-color: rgb(255, 0, 0);
}

.survey-form-choices {
    display: grid;
    grid-template-columns: 13px 13px;
    justify-content: center;
}

input#question {
    width: 100%;
}

/* OFFER PAGE */

.offer-page {
    text-align: center;
    margin-bottom: 6%;
}

.hOffreS{
    margin-top: 6%;
    text-align: center;
}

.offer-page h5, .offer-page p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.offer-page p {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* About Us */

#aboutUs {
    width: 80%;
    margin-top: 5%;
}

.hAbout{
    padding-bottom: 8px;
}

.aboutTxt{
    padding-bottom: 40px;
}

.aboutUs-photos {
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    margin-inline: 20px;
    justify-content: space-evenly;
}

.about-presentation img {
    width: 186px;
}

@media screen and (max-width: 992px) {
    #aboutUs {
        display: inline;
    }
}

/* ADMIN */

.update-about {
    margin-top: 2%;
    margin-bottom: 2%;
}

.update-about ol, ul{
    margin : 0%;
    padding: 0%;
    list-style: none;
}

.update-about h3 {
    text-align: center;
}

.update-about-form {
    display: flex;
    justify-content: center;
    padding: 0;
}

.label{
    margin-top: 2%;
    margin-bottom: 1%;
}

.row{
    margin: 0%;
}

.error{
    color: red;
}

.btnAbout{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.offer-button{
    background-color: #1c3168;
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.offer-button:hover{
    background-color: #b6a786;
    color: white;
}

.alert-successBack{
    color: rgb(0, 218, 0);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-button {
    margin: 1vh 0;
    text-decoration: none;
    font-size: larger;
    border: none;
    padding: 1vh 1vw;
    border-radius: 5px;
    color: white;
    background-color: #1c3168;
}

form button:hover {
    color: #b6a786;
}

.admin-homepage h2 {
    text-align: center;
    margin: 42px 0;
}

.admin-homepage h4 {
    text-align: center;
    margin: 42px 0;
}

.admin-body {
    display: flex;
    margin-inline: 90px;
    flex-wrap: wrap;
    justify-content: center;
}

.admin-body a {
    text-decoration: none;
    color: black;
}

.admin-choice {
    border: black 1px solid;
    padding: 20px 30px;
    margin-inline: 30px;
    margin-bottom: 30px;
    width: 300px;
    height: 351px;
    text-align: center;
}

.admin-choice img {
    width: 247px;
}

@media screen and (max-width: 768px) {
    .admin-choice {
        width: 258px;
        height: 122px;
        margin-inline: 2px;
    }

    .admin-choice img {
        display: none;
    }
}

.offer-body img {
    width: 361px;
    height: auto;
    margin-inline: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 580px) {
    .offer-body img {
        width: 85%;
    }
}

.admin-user h1{
    text-align: center;
}

.admin-table{
    width: 40%;
}

.admin-table th{
    vertical-align: middle;
}

.admin-update {
    background-color: #054bfc;
    padding: 5px 17px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.admin-update:hover {
    color: #18283B;
}

.admin-delete {
    background-color: red;
    padding: 2px 5px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.admin-create{
    background-color: green;
    padding: 5px 5px;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}


.table-responsive {
    display: flex;
    justify-content: center;
}   

.admin-form{
    text-align: center;
}

.user-form {
    display: grid;
    justify-content: center;
    margin: 22px 0;
}

.user-form label{
    margin: 5px 0;
}

.admin-user-footer{
    display: flex;
    justify-content: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.contact-form h2 {
    margin-block: 20px;
    text-align: center;
}

div#contact {
    border: 1px solid black;
    height: 550px;
    margin-bottom: 30px;
    max-height: 720px;
    height: 110%;
    padding-bottom: 20px;
    width: 90%;
    margin-inline: 16px;
}

div#contact form > div {
    display: flex;
    flex-direction: column;
    padding-inline: 36px;
    margin-top: 10px;
}

div#contact form > div > label{
    margin-bottom: 10px;
}

div#contact > div:first-child{
    margin-top: 20px;
}

div#contact textarea{
    margin-bottom: 20px;
    height: 120px;
    resize: none;
}

.contact-success{
    text-align: center;
    color: green;
}

#homepage-edit{
    display: grid;
    justify-content: center;
    margin: 22px 0; 
}

button#homepage_form_submit {
    width: 100px;
    height: 33px;
    margin-block: 20px;
    background-color: #054bfc;
    border-radius: 3px;
    color: white;
    border: none;
}