<div class='footer'>
    <div id="footer-left">
        <div id='imgLogo'>
            <a href="https://www.lycee-stvincent.fr/">
                <img class='logo2' src="img\logo.png">
            </a>
        </div>

        <div class="page-links">
            <h4 class='hCSE'>CSE Lycée Saint-Vincent</h4>
            <div class="link">
                <div class='aLink'> 
                    <a href=''>> Partenariats</a>
                </div>
                <div class='aLink'>
                    <a href=''>> Billetterie</a>
                </div>
            </div>
            <div class="link">
                <div class='aLink'> 
                    <a href=''>> A propos de nous</a>
                </div>
                <div class='aLink'> 
                    <a href=''>> Contact</a>
                </div>
            </div>
        </div>
    </div>

    <div id="footer-right">
        <div class='offreFooter'>
            {% include 'components/_newsletter.html.twig' %}
        </div>
    </div>
</div>
