<div class='footer'>
    <div class="container">
        <div class="row">
            <div id='imgLogo' class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <a href="https://www.lycee-stvincent.fr/">
                    <img class='logo2' src="img\logo.png">
                </a>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <h6 class='hCSE'>CSE Lycée Saint-Vincent</h6>
                <div class="link">
                    <div class='aLink'> 
                        <a href=''>> Partenariats</a>
                    </div>
                    <div class='aLink'>
                        <a href=''>> Billeterie</a>
                    </div>
                </div>
                <div class="link">
                    <div class='aLink'> 
                        <a href=''>> A propos de nous</a>
                    </div>
                    <div class='aLink'> 
                        <a href=''>> Contact</a>
                    </div>
                </div>

            </div>

            <div class="col-lg-4 col-md-6">
                <div class='offreFooter'>
                    <h6>Inscrivez-vous aux offres</h6>
                    <p>Reçevez un email à chaque nouvelle offre sur le site internet.</p>
                    <input type='text' class='inputNewsletter' placeholder='Saisissez-votre email'></input>
                    <button type='submit' class='btnNewsletter'>S'inscrire</button>
                </div>
            </div>
        </div>
    </div>
</div>
