{% extends 'base.html.twig' %}

{% block title %}À propos de nous{% endblock %}

{% block body %}
    <div id='aboutUs'>
        <h2>A propos de nous</h2>
        <p>{{ text | raw }}</p>
        <h2>Qui sommes nous ?</h2>
        <div class='aboutUs-photos'>
            <div class='about-presentation'>
                <img src='https://upload.wikimedia.org/wikipedia/commons/8/8d/President_Barack_Obama.jpg' />
                <h4>Barack Obama</h4>
            </div>
            <div class='about-presentation'>
                <img src='https://images.genius.com/b7856ba4b9670f426d8b347b3fc20a52.403x363x1.png' />
                <h4>Bin chilling</h4>
            </div>
            <div class='about-presentation'>
                <img src="https://static.jojowiki.com/images/thumb/0/02/latest/20210208021057/JesusCh58.png/192px-JesusCh58.png" />
                <h4>Real Jesus</h4>
            </div>
            <div class='about-presentation'>
                <img src='https://pm1.narvii.com/6654/ef046e21eedfc0744641ac5401d1aa4c388027ea_hq.jpg' />
                <h4>Ace (ce qu'il en reste)</h4>
            </div>
                        <div class='about-presentation'>
                <img src='https://upload.wikimedia.org/wikipedia/commons/8/8d/President_Barack_Obama.jpg' />
                <h4>Barack Obama</h4>
            </div>
            <div class='about-presentation'>
                <img src='https://images.genius.com/b7856ba4b9670f426d8b347b3fc20a52.403x363x1.png' />
                <h4>Bin chilling</h4>
            </div>
            <div class='about-presentation'>
                <img src="https://static.jojowiki.com/images/thumb/0/02/latest/20210208021057/JesusCh58.png/192px-JesusCh58.png" />
                <h4>Real Jesus</h4>
            </div>
            <div class='about-presentation'>
                <img src='https://pm1.narvii.com/6654/ef046e21eedfc0744641ac5401d1aa4c388027ea_hq.jpg' />
                <h4>Ace (ce qu'il en reste)</h4>
            </div>
        </div>
        <div class='aboutus-rules'>
            <h2>Règlement</h2>
            <p>{{ rules | raw }}</p>            
        </div>
        <div class='aboutus-actions'>
            <h2>Nos actions</h2>
            <p>{{ actions | raw }}</p>            
        </div>
    </div>
{% endblock %}