{% extends 'back_office/base.html.twig' %}

{% block title %}Modifier la page d'accueil {% endblock %}

{% block body %}
    <div class='admin-form' id='homepage-edit'>
        <h1>Modifier la page d'accueil</h1>

        {{ form(form) }}

        <a href="{{ path('admin') }}">&lt;Retourner à l'espace administrateur</a>
    </div>
{% endblock %}