{% extends 'back_office/base.html.twig' %}

{% block title %}Liste des sondage{% endblock %}

{% block body %}
    <h2 class='admin-title'>Liste des sondages :</h2>
    <div class='back-survey-container'>
        {% for survey in surveys %}
            <div class='survey-stats' survey={{ survey.id }}>
                {% include 'components/_survey_stats.html.twig' %}
                <div class='survey-actions' id='survey-{{survey.id}}'>
                    <a class='survey-update' data-bs-toggle="modal" data-bs-target="#updateModal" data='{{ survey.question }}' data-id={{ survey.id }}>Modifier</a>
                    {% if survey.isActive %}
                        <a class='survey-desactivate' status='0'>Désactiver</a>
                    {% else %}
                        <a class='survey-activate' status='1'>Activer</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modifier : </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">            
                <input type="text" id="question" name="question">
            </div>
            <div class="modal-footer">
                <button type="button" class="admin-delete" data-bs-dismiss="modal">Fermer</button>
                <button type="button" id='survey-update-submit' class="admin-add">Appliquer</button>
            </div>
            </div>
        </div>
    </div>
    <script src="/scripts/survey.js"></script>
{% endblock %}