{% extends 'base.html.twig' %}

{% block title %} Modifier le texte {% endblock %}
{% block body %}
    <div class='update-about'>
        <h2>Modifier la page d'accueil</h2>
        <div class='update-about-form'>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}